[submodule "PanelVanttec/libs/vanttec_CANLib"]
	path = PanelVanttec/libs/vanttec_CANLib
	url = https://github.com/vanttec/vanttec_CANLib.git
	branch = feature/sdv_panel
[submodule "SteeringVanttec/libs/vanttec_CANLib"]
	path = SteeringVanttec/libs/vanttec_CANLib
	url = https://github.com/vanttec/vanttec_CANLib.git
	branch = feature/sdv_stepper
[submodule "ThrottleVanttec/libs/ThrottleVanttec/libs/vanttec_CANLib"]
	path = ThrottleVanttec/libs/ThrottleVanttec/libs/vanttec_CANLib
	url = https://github.com/vanttec/vanttec_CANLib.git
[submodule "ThrottleVanttec/libs/vanttec_CANLib"]
	path = ThrottleVanttec/libs/vanttec_CANLib
	url = https://github.com/vanttec/vanttec_CANLib.git
