[submodule "ThrottleVanttec/libs/vanttec_CANLib"]
	path = ThrottleVanttec/libs/vanttec_CANLib
	url = https://github.com/vanttec/vanttec_CANLib.git
	branch = feature/sdv_throttle
[submodule "PanelVanttec/libs/vanttec_CANLib"]
	path = PanelVanttec/libs/vanttec_CANLib
	url = https://github.com/vanttec/vanttec_CANLib.git
	branch = feature/sdv_panel
